@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  background-color: #f7f8fa;
  color: #0e1116;
}

.dark body {
  background-color: #0e0e10;
  color: #e8ecef;
}
